<div class = "main-container">
    <div class = "top">
        <p>BRIAR PATCH</p>
    </div>
   
    <div class = "row">
        <div class = "col-4"></div>
        <div class = "mat-raised button col-4"></div>
            <div *ngIf = "this.game.gameStatus === 0" class = "button d-flex justify-content-center">
                <button (click) = "startGame()" class = "start-game-button justify-content-center">Start Game Now!</button>
            </div>
        <div class = "col-4"></div>
    </div>

    <div class = "field d-flex justify-content-center">
        <p class = "current-status mat-display-1"></p>
    </div>
   

    <div *ngIf = "this.game.gameStatus === 1" class = "gameboard">
        <div class = "gamefield container justify-content-center">
            <div class = "row no-gutters">
                <img (click) = "clickSubfield($event)" position = "0" class = "background-image col-3" src = "assets/greendirt.jpg">
                <img (click) = "clickSubfield($event)" position = "1" class = "background-image col-3" src = "assets/greendirt.jpg">
                <img (click) = "clickSubfield($event)" position = "2" class = "background-image col-3" src = "assets/greendirt.jpg">
                <img (click) = "clickSubfield($event)" position = "3" class = "background-image col-3" src = "assets/greendirt.jpg">
            </div>
            <div class = "row no-gutters">
                <img (click) = "clickSubfield($event)" position = "4" class = "background-image col-3" src = "assets/greendirt.jpg">
                <img (click) = "clickSubfield($event)" position = "5" class = "background-image col-3" src = "assets/greendirt.jpg">
                <img (click) = "clickSubfield($event)" position = "6" class = "background-image col-3" src = "assets/greendirt.jpg">
                <img (click) = "clickSubfield($event)" position = "7" class = "background-image col-3" src = "assets/greendirt.jpg">
            </div>
            <div class = "row no-gutters">
                <img (click) = "clickSubfield($event)" position = "8" class = "background-image col-3 justify-content-center" src = "assets/greendirt.jpg">
                <img (click) = "clickSubfield($event)" position = "9" class = "background-image col-3 justify-content-center" src = "assets/greendirt.jpg">
                <img (click) = "clickSubfield($event)" position = "10" class = "background-image col-3 justify-content-center" src = "assets/greendirt.jpg">
                <img (click) = "clickSubfield($event)" position = "11" class = "background-image col-3 justify-content-center" src = "assets/greendirt.jpg">
            </div>
        </div>
    </div>
</div>